<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- reset.css 필수 -->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv.css" rel="stylesheet">
</head>

<body>
    <div class="wrap">
        <header>
            <h1>제목:회사명,로고,로그인</h1>
        </header>
        <div class="wrap-nav">
        <nav>
            <ul>
                <li>메뉴1</li>
                <li>메뉴1</li>
                <li>메뉴1</li>
            </ul>
        </nav>
    </div>
        <div class="wrap-content">
        <section>
            <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor varius mauris sit amet ullamcorper. Phasellus sodales lorem ac dolor ornare, vel vestibulum tortor luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam at consectetur magna, ac lobortis nibh. Morbi in diam vulputate ligula egestas lacinia. Aliquam lacinia ipsum sem, ac cursus erat porttitor sed. Fusce dictum, magna quis mattis mattis, nibh diam efficitur elit, id tincidunt est magna ac elit. Sed congue sapien id nunc posuere, id pulvinar ipsum scelerisque. Quisque placerat turpis mi, quis faucibus nulla commodo sed.


            </article>
            <article>
                Vestibulum sit amet viverra libero. Vestibulum et libero ultrices augue aliquet molestie. Fusce pharetra nisl ut tellus maximus, in suscipit libero mattis. Ut iaculis mi vitae lacus sollicitudin bibendum. Nunc nec efficitur augue, eget consequat mi. Suspendisse mollis augue vel eros consequat condimentum. In commodo, massa ac tincidunt elementum, ex tellus egestas dui, non luctus tellus lacus nec urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam feugiat nisi at neque ornare tristique. Integer tristique et nunc in fermentum. Phasellus et sagittis nisl, ut convallis elit. Fusce ut neque et leo euismod dictum a a lectus. Aliquam non euismod ante, ac molestie massa. Aenean hendrerit velit sit amet neque luctus pharetra. Mauris congue mi id ante iaculis, at blandit lorem ornare.

            </article>
            <article>

                Mauris eleifend eros vel augue auctor vehicula vel et ex. Donec pretium dui eu mattis aliquam. Fusce maximus libero sed purus tincidunt, quis lobortis risus ultricies. Phasellus a odio metus. Vestibulum ac arcu arcu. Duis malesuada bibendum lacinia. Sed at fermentum tellus, nec scelerisque neque. Duis maximus justo nunc, vel gravida dui fringilla quis.
            </article>
        </section>
        <aside>
            <div>
                광고,최근본상품,바로가기링크
            </div>
            <nav>
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴1</li>
                    <li>메뉴1</li>
                </ul>
            </nav>
        </aside>
    </div>
        <footer>
            <address>서울시 강남구 테헤란로</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴1</li>
                    <li>메뉴1</li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>