<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="page1">하이퍼링크태그a</h1>
    <div><a href="http://naver.com">링크 - 외부</a></div>
    <div><a href="/views/new_page.html">링크 - 내부서버파일</a></div>
    <div><a href="#page3">링크 - 페이지내부</a></div>

    <span>영역태그중inline영역의대표주자</span>
    <span>영역태그중inline영역의대표주자</span>
    <div>영역태그중inline영역의대표주자</div>
    <div>영역태그중inline영역의대표주자</div>
    <div>영역태그중inline영역의대표주자</div>
    <h1>표태그도 좀 중요</h1>
    <table border="1" id="page2">
        <tbody>

            <tr>

                <td colspan="2">내용 1</td>

                <td rowspan="3">내용 3</td>
                <td>내용 4</td>
            </tr>
            <tr>
                <td>내용 5</td>
                <td rowspan="2">내용 6</td>
                <td>내용 8</td>
            </tr>
            <tr>

                <td>내용 9</td>
                <td>내용 12</td>
            </tr>
        </tbody>
        <caption>표1 - caption 표시</caption>
        </thead>
    </table>
    <table border="1">
        <hr>
        <figure id="page1"></figure>
        <figcaption>표2 - 제목1</figcaption>
        <tbody>

            <ul>
                <li>aaa내용s내용</li>
                <li>aaa내용s내용</li>
                <li>aaa내용s내용</li>
                <li>aaa내용s내용</li>
            </ul>
            <ol type="I" start="5">
                <li>내용내용</li>
                <li>내용내용</li>
                <li>내용내용</li>
                <li>내용내용</li>
            </ol>
            <dd>
            <dt>내용DT내용</dt>
            <dd>내용DD내용</dd>
            <dd>내용내용</dd>
            <dd>내용내용</dd>
            <dt>내용DT내용</dt>
            <dd>내용DD내용</dd>
            <dd>내용내용</dd>
            <dd>내용내용</dd>
            </dd>
            <p><strong><em>글꼴</em></strong></p>
        </tbody>
    </table>

    <h1 id="page3">제목h1</h1>
    <h2>제목h2</h2>
    <h3>제목h3</h3>
    <h4>제목h4</h4>
    <h5>제목h5</h5>
    <h6>제목h6</h6>
    <h7>제목h7</h7>
    <h0>제목h0</h0>
    <hr>
    <p>첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.
        첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.
        첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.
        <hr>
        첫 코드입니다.첫 코드입니다.
        첫 코드입니다.

    </p>

    <!-- ctrl 으로 주석 -->
    "안녕하세요. &nbsp;&nbsp;&nbsp; "" 반갑습니다.
    html 처음입니다.<br>
    <br><br><br><br>
    <br>
    &nbsp; live server startup - alt + L - O
    <li>내용내용</li>
</body>

</html>